name: Basic Develop Test

on:
  push:
    branches:
      - main
      - develop
      - release/*

    paths-ignore:
      - '**.md'

defaults:
  run:
    shell: nu {0}

jobs:
  basic-usage:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: hustcer/setup-nu@develop
      with:
        version: '*'
        enable-plugins: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: print (version); print $"(char nl)Dir contents:(char nl)"; ls ((which nu).path.0 | path dirname)
    - run: |
        print $'Current env:(char nl)'
        print $env
    - name: You can run bash commands, too
      run: pwd && ls -la
      shell: bash
