name: basic

on:
  push:
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'

defaults:
  run:
    shell: nu {0}

jobs:
  basic-usage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: hustcer/setup-nu@main
      with:
        version: '*'
    - run: version; $"(char nl)Dir contents:(char nl)"; ls ((which nu).path.0 | path dirname)
    - run: |
        $'Current env:(char nl)'
        $env
    - name: You can run bash commands, too
      run: pwd && ls -la
      shell: bash
