name: Nu Full Features Check

on:
  push:
    branches:
      - main
      - develop
      - release/*
      - fix/plugins
    paths-ignore:
      - '**.md'

defaults:
  run:
    shell: nu {0}

jobs:
  test-matrix:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-latest]
        # The "full" feature was removed for Nu after v0.93.1, try to use "default" feature instead.
        ver: [0.93.0, 0.92.2, 0.91.0, 0.90.1, 0.89.0, 0.88.1, 0.87.1, 0.86]

    runs-on: ${{ matrix.os }}
    name: test (${{matrix.os}}, nu@${{matrix.ver}})
    steps:
    - uses: actions/checkout@v4.1.7
    - name: Setup nu@${{matrix.ver}}
      uses: hustcer/setup-nu@develop
      with:
        features: full
        version: ${{matrix.ver}}
        # Set to `true` will register all plugins
        # enable-plugins: true
        # You can also set to a comma-separated string of plugin names to register them
        enable-plugins: nu_plugin_inc,nu_plugin_query
      env:
        ACTIONS_STEP_DEBUG: true
    - name: Show Nu Version
      run: print $'Nu version info:(char nl)'; print (version)
    - name: Show env Variables
      run: print $'Current env:(char nl)'; print $env
    - name: Show Nu Binary Path
      run: print $'Nu path:(which nu)(char nl)'
    - name: Show Nu Package Contents
      run: print $"(char nl)Dir contents:(char nl)"; print (ls ((which nu).path.0 | path dirname))
