name: Nu Module Test

on:
  push:
    branches:
      - main
      - develop
      - release/*
      - feature/nu-lib
    paths-ignore:
      - '**.md'

defaults:
  run:
    shell: nu {0}

jobs:
  test-latest:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        ver: [0.84, 0.83.1, 0.82, '0.80', 0.79, 0.78, 0.77.1, 0.76, 0.75, 0.74, 0.73, 0.72.1, 0.71, '0.70', 0.69.1, 0.68.1, 0.67, 0.66.2, 0.65]

    runs-on: ${{ matrix.os }}
    name: test (${{matrix.os}}, nu@${{matrix.ver}})
    steps:
    - uses: actions/checkout@v4.0.0
    - name: Setup nu@latest
      uses: hustcer/setup-nu@develop
      with:
        enable-plugins: true
        version: ${{matrix.ver}}
      env:
        ACTIONS_STEP_DEBUG: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Show Nu Version
      run: print $'Nu version info:(char nl)'; print (version)
    - name: Use Your Nu Modules
      run: |
        nu -c "use nu/module.nu *; print (get-env 'ABC-XYZ' 'DEFAULT-ABC-XYZ')"
