name: Nu Module Test

on:
  push:
    branches:
      - main
      - develop
      - release/*
      - feature/nu-lib
    paths-ignore:
      - '**.md'

defaults:
  run:
    shell: nu {0}

jobs:
  test-latest:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        ver: [0.93.0, 0.92.2, 0.91.0, 0.90.1, 0.88.1, 0.87.1, 0.86, 0.85, 0.83.1, 0.82, '0.80']

    runs-on: ${{ matrix.os }}
    name: test (${{matrix.os}}, nu@${{matrix.ver}})
    steps:
    - uses: actions/checkout@v4.1.6
    - name: Setup nu@latest
      uses: hustcer/setup-nu@develop
      with:
        enable-plugins: true
        version: ${{matrix.ver}}
      env:
        ACTIONS_STEP_DEBUG: true
    - name: Show Nu Version
      run: print $'Nu version info:(char nl)'; print (version)
    - name: Use Your Nu Modules
      run: |
        nu -c "use nu/module.nu *; print (get-env 'ABC-XYZ' 'DEFAULT-ABC-XYZ')"
    - name: Use Your Nu Modules by Absolute Path
      run: |
        use ${{ github.workspace }}/nu/module.nu *
        print 'Use module from: ${{ github.workspace }}/nu/module.nu'
        print (get-env 'ABC-XYZ' 'DEFAULT-ABC-XYZ-ABSOLUTE-PATH')
