name: Build Workflow and Use NU Nightly Test

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Build Setup Script
      run: |
        npm i -g pnpm
        pnpm i
        pnpm run lint
        pnpm run build

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        crate:
          - { owner: nushell, name: nushell }

    runs-on: ${{ matrix.os }}
    name: test (${{matrix.os}}, ${{ matrix.crate.owner }}/${{ matrix.crate.name }})
    steps:
    - uses: actions/checkout@v4
    - name: Setup ${{ matrix.crate.owner }}/${{ matrix.crate.name }}
      uses: ./
      with:
        version: nightly
        enable-plugins: true
      env:
        ACTIONS_STEP_DEBUG: true
    - name: Show Nu Path and Related Assets
      run: which $(printf nu | tr '[:upper:]' '[:lower:]') && echo "Dir contents --->:" && ls -la "$(dirname `which nu`)"
      shell: bash
    - name: Spawn a Nu Session and Display Version Info
      run: nu -c 'print (version); print $"(char nl)Dir contents:(char nl)"; ls ((which nu).path.0 | path dirname)'
      shell: bash
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#custom-shell
    - name: Use Nu as Default Shell
      shell: nu {0}
      run: |
        print $'Current env:(char nl)'
        print $env
